<% if queues.empty? %>
  <div class="page-header">
    <h1>No Queues <small>I wish I had some queues :-/</small></h1>
  </div>
<% else %>
  <div class="page-header">
    <h1>Queues <small>And their job counts</small></h1>
  </div>

  <% queues.each do |queue| %>
  <div class="accordion" id="<%= queue[:name] %>-accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="row">
          <div class="span4">
            <h3>
              <button
                id="<%= queue[:name] %>-pause"
                title="Unpause"
                <% if queue[:counts][:paused] > 0 then %>
                class="btn btn-success"
                <% else %>
                class="btn btn-success disabled"
                disabled="disabled"
                <% end %>
                onclick="unpause('<%= queue[:name] %>')">
                <i class="icon-play"></i>
              </button>
              <button
                id="<%= queue[:name] %>-pause"
                title="Pause"
                <% if queue[:counts][:paused] < queue[:clients].length then %>
                class="btn btn-warning"
                <% else %>
                class="btn btn-warning disabled"
                disabled="disabled"
                <% end %>
                onclick="pause('<%= queue[:name] %>')">
                <i class="icon-pause"></i>
              </button>
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#<%= queue[:name] %>-accordion" href="#<%= queue[:name] %>-accordion-body">
                <%= queue[:name] %></a>
            </h3>
          </div>
          <div class="span7">
            <h3> |
              <%= queue[:counts][:running]   %> /
              <%= queue[:counts][:waiting]   %> /
              <%= queue[:counts][:scheduled] %> /
              <%= queue[:counts][:stalled]   %> /
              <%= queue[:counts][:depends]   %> /
              <%= queue[:counts][:recurring] %> <small>(running / waiting / scheduled / stalled / depends / recurring)</small>
            </h3>
          </div>
        </div>
      </div>
      <div class="accordion-body collapse" id="<%= queue[:name] %>-accordion-body">
        <div class="accordion-inner">
          <% queue[:clients].each do |client| %>
          <div class="row">
            <div class="span3 offset1">
              <h3>
                <a href="<%= client[:path] %>/queues/<%= queue[:name] %>"><%= client[:name] %></a>
              </h3>
            </div>
            <div class="span7">
              <h3> |
                <%= client[:counts]['running']   %> /
                <%= client[:counts]['waiting']   %> /
                <%= client[:counts]['scheduled'] %> /
                <%= client[:counts]['stalled']   %> /
                <%= client[:counts]['depends']   %> /
                <%= client[:counts]['recurring'] %> <small>(running / waiting / scheduled / stalled / depends / recurring)</small>
              </h3>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

<% if failed.empty? %>
  <div class="page-header">
    <h1>No Failed Jobs <small>Clean as a whistle</small></h1>
  </div>
<% else %>
  <div class="page-header">
    <h1>Failed Jobs <small>D'oh!</small></h1>
  </div>
  <% failed.sort_by { |t, obj| -obj[:count] }.each do |t, obj| %>
  <div class="accordion" id="failed-<%= t %>-accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="row">
          <div class="span4">
            <h3>
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#failed-<%= t %>-accordion" href="#failed-<%= t %>-accordion-body">
                <%= t %></a>
            </h3>
          </div>
          <div class="span8">
            <h3>| <%= obj[:count] %> <small>Jobs</small></h3>
          </div>
        </div>
      </div>
      <div class="accordion-body collapse" id="failed-<%= t %>-accordion-body">
        <div class="accordion-inner">
          <% obj[:clients].each do |client| %>
          <div class="row">
            <div class="span3 offset1">
              <h3>
                <a href="<%= client[:path] %>/failed/<%= t %>"><%= client[:name] %></a>
              </h3>
            </div>
            <div class="span7">
              <h3>| <%= client[:count] %> <small>Jobs</small></h3>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

<% if workers.empty? %>
  <div class="page-header">
    <h1>No Workers <small>Nobody's doin' nothin'!</small></h1>
  </div>
<% else %>
  <div class="page-header">
    <h1>Current Workers <small>And their job counts</small></h1>
  </div>

  <% workers.sort_by { |name, obj| name }.each do |name, obj| %>
  <div class="accordion" id="worker-<%= name %>-accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <div class="row">
          <div class="span4">
            <h3>
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#worker-<%= name %>-accordion" href="#worker-<%= sanitize_attr(name) %>-accordion-body"><%= name %></a></h3>
          </div>
          <div class="span8">
            <h3>| <%= obj[:counts][:jobs] %> / <%= obj[:counts][:stalled] %> <small>Running / Stalled</small></h3>
          </div>
        </div>
      </div>
      <div class="accordion-body collapse" id="worker-<%= sanitize_attr(name) %>-accordion-body">
        <div class="accordion-inner">
          <% obj[:clients].each do |client| %>
          <div class="row">
            <div class="span3 offset1">
              <h3><a href="<%= client[:path] %>/workers/<%= name %>"><%= client[:name] %></a>
              </h3>
            </div>
            <div class="span7">
              <h3>| <%= client[:counts][:jobs] %> / <%= client[:counts][:stalled] %> <small>Running / Stalled</small></h3>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
