<% if queues.empty? %>
  <div class="page-header">
    <h1>No Queues <small>I wish I had some queues :-/</small></h1>
  </div>
<% else %>
  <div class="page-header">
    <h1>Queues <small>And their job counts</small></h1>
  </div>

  <table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>running</th>
      <th>waiting</th>
      <th>scheduled</th>
      <th>stalled</th>
      <th>depends</th>
      <th>recurring</th>
    </tr>
  </thead>
  <tbody>
    <% queues.each do |queue| %>
    <tr class="main-row">
      <td class="button-column">
        <button id="<%= queue[:name] %>-pause" title="Unpause"
          <% if queue[:counts][:paused] > 0 then %>
          class="btn btn-success"
          <% else %>
          class="btn btn-success disabled" disabled="disabled"
          <% end %>
          onclick="unpause('<%= queue[:name] %>')">
          <i class="icon-play"></i>
        </button>
      </td>
      <td class="button-column">
        <button
          id="<%= queue[:name] %>-pause"
          title="Pause"
          <% if queue[:counts][:paused] < queue[:clients].length then %>
          class="btn btn-warning"
          <% else %>
          class="btn btn-warning disabled"
          disabled="disabled"
          <% end %>
          onclick="pause('<%= queue[:name] %>')">
          <i class="icon-pause"></i>
        </button>
      </td>
      <td class="queue-column">
        <a class="toggle-subrows text-large" data-row-group="<%= queue[:sluggified_name] %>"><%= queue[:name] %></a>
      </td>
      <td><%= queue[:counts][:running]   %></td>
      <td><%= queue[:counts][:waiting]   %></td>
      <td><%= queue[:counts][:scheduled] %></td>
      <td><%= queue[:counts][:stalled]   %></td>
      <td><%= queue[:counts][:depends]   %></td>
      <td><%= queue[:counts][:recurring] %></td>
    </tr>

    <% queue[:clients].each do |client| %>
    <tr class="sub-row" style="display:none;" data-row-group="<%= queue[:sluggified_name] %>">
      <td></td>
      <td></td>
      <td><a href="<%= client[:path] %>/queues/<%= queue[:name] %>"><%= client[:name] %></a></td>
      <td><%= client[:counts]['running']   %></td>
      <td><%= client[:counts]['waiting']   %></td>
      <td><%= client[:counts]['scheduled'] %></td>
      <td><%= client[:counts]['stalled']   %></td>
      <td><%= client[:counts]['depends']   %></td>
      <td><%= client[:counts]['recurring'] %></td>
    </tr>
    <% end %>

<% end %>
  </tbody>
</table>
<% end %>

<% if failed.empty? %>
  <div class="page-header">
    <h1>No Failed Jobs <small>Clean as a whistle</small></h1>
  </div>
<% else %>
  <div class="page-header">
    <h1>Failed Jobs <small>D'oh!</small></h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>error</th>
        <th>count</th>
      </tr>
    </thead>
    <tbody>
      <% failed.sort_by { |t, obj| -obj[:count] }.each do |t, obj| %>
        <tr class="main-row">
          <td>
            <a class="toggle-subrows text-large" data-row-group="<%= obj[:sluggified_name] %>"><%= t %></a>
          </td>
          <td><%= obj[:count] %></td>
        </tr>
        <% obj[:clients].each do |client| %>
        <tr class="sub-row" style="display:none;" data-row-group="<%= obj[:sluggified_name] %>">
          <td><a href="<%= client[:path] %>/failed/<%= t %>"><%= client[:sluggified_name] %></a></td>
          <td><%= client[:count] %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if workers.empty? %>
  <div class="page-header">
    <h1>No Workers <small>Nobody's doin' nothin'!</small></h1>
  </div>
<% else %>
  <div class="page-header">
    <h1>Current Workers <small>And their job counts</small></h1>
  </div>

  <table class="table">
    <thead>
      <th>worker</th>
      <th>running</th>
      <th>stalled</th>
    </thead>
    <tbody>
    <% workers.sort_by { |name, obj| name }.each do |name, obj| %>
    <tr class="main-row">
      <td>
        <a class="toggle-subrows text-large" data-row-group="<%= obj[:sluggified_name] %>"><%= name %></a>
      </td>
      <td><%= obj[:counts][:jobs] %></td>
      <td><%= obj[:counts][:stalled] %></td>
    </tr>
    <% obj[:clients].each do |client| %>
    <tr class="subrow" style="display:none;" data-row-group="<%= obj[:sluggified_name] %>">
      <td><a href="<%= client[:path] %>/workers/<%= name %>"><%= client[:name] %></td>
      <td><%= client[:counts][:jobs] %></td>
      <td><%= client[:counts][:stalled] %></td>
    </tr>
    <% end %>
  <% end %>
    </tbody>
  </table>
<% end %>
